html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    background-color: #161616;
    color: #f0f0f0;
    width: 100%;
    min-height: 100vh; /* Ensures it covers at least the viewport height */
    margin: 0;
    padding: 0;
}

#hero {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    padding: 0 2rem;
}

#hero h1 {
    font-size: 5.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    grid-column: 1;
    grid-row: 2;
}

#hero #desc1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 1;
    grid-row: 1;
}

#hero #desc2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 1;
    grid-row: 3;
}

#hero img {
    width: 75%;
    height: 50%;
    object-fit: cover;
    grid-column: 2;
    grid-row: 1 / span 3;
    margin: 3rem;
    transform: rotate(10deg);
}

#hero a {
    grid-column: 2;
    grid-row: 3;
    text-decoration: none;
    color: #f0f0f0;
    border: #f0f0f0 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 0 2rem;
    background-image: url('/assets/hero_img_1.JPG'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    height: 75vh;
border: solid 1px red;
}

#about h2 {
    font-size: 5.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    grid-column: 1;
    grid-row: 2;
border: solid 1px blue;
}

#about p {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 2;
    grid-row: 2;
border: solid 1px blue;
    /* height: 20vh; */
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    padding: 0 2rem;
    height: 75vh;
}

#projects h2 {
    font-size: 5.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    grid-column: 3;
    grid-row: 1 span 2;
}

.projectscard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    height: 100%;
}

.projectscard a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.5rem;
    margin: 1rem;
    align-self: flex-start;
}

.projectscard img {
    width: 30%;
    align-self: flex-start;
    margin: 1rem;
    filter: brightness(0) invert(1);
}

#skills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 3fr;
    padding: 0 2rem;
    height: 75vh;
    border: solid 1px red;
}

#skills h2 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    grid-column: 1 / span 4;
    grid-row: 1;
    width: 100%;
}

.skillscard {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    height: 100%;
    width: 100%;
    font-size: 1.3rem;
    filter: brightness(0) invert(1);
}

/* #press {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 2rem;
    height: 75vh;
}

#press h2 {
    font-size: 5.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    grid-column: 1;
    grid-row: 1;
}

#presscontainer {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: space-between;
    color: #f0f0f0;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    height: 100%;
}

#press p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    align-self: center;
} */

#contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0 2rem;
    height: 75vh;
    background-color: #f0f0f0;
    color: #161616;
}

#contact h2 {
    font-size: 6.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#contactcontainer {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    color: 161616;
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem;
    height: 50%;
}

#contact a {
    text-decoration: none;
    color: #161616;
    font-size: 1.5rem;
    font-weight: 400;
}

#top-heading {
    margin-bottom: 1rem;
    grid-column: 1;
    grid-row: 1;
}

#bottom-heading {
    margin-bottom: 1rem;
    grid-column: 1;
    grid-row: 3;
}
