#root {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; */
    background-color: #161616;
    color: #f0f0f0;
    width: 100%;
    margin: 0;
    padding: 0;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#about img {
    /* width: 100%;
    height: 100%;
    object-fit: cover;
     */
}
#about {
    /* display: flex;
    justify-content: space-between;
    align-items: flex-end; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 2rem;
    background-image: url('/assets/hero_img_1.JPG'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay color */
    background-blend-mode: overlay; /* Blends the color with the image */
filter: grayscale(100%); /* Converts the background image to black and white */
    height: 75vh;
}
#about h2 {
    font-size: 5.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    grid-column:  1;
    grid-row: 2;
}

#about p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 2;
    grid-row: 2;
}