#root {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; */
    background-color: #161616;
    color: #f0f0f0;
    width: 100%;
    margin: 0;
    padding: 0;
}
#hero {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    padding: 0 2rem;
}

#hero h1 {
    font-size: 5.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    grid-column: 1;
    grid-row: 2;
}
#hero #desc1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 1;
    grid-row: 1;
}

#hero #desc2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 1;
    grid-row: 3;
}

#hero img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    grid-column: 2;
    grid-row: 1 / span 3;
}
#hero a{
    grid-column: 2;
    grid-row: 3;
    text-decoration: none;
    color: #f0f0f0;
    border: #f0f0f0 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem; /* Adjust size as needed */
    height: 7rem; /* Adjust size as needed */
}

#about {
    /* display: flex;
    justify-content: space-between;
    align-items: flex-end; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 0 2rem;
    background-image: url('/assets/hero_img_1.JPG'); 
    background-size: cover; 
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay color */
    background-blend-mode: overlay; /* Blends the color with the image */
filter: grayscale(100%); /* Converts the background image to black and white */
    height: 75vh;
    border: solid 1px red;
}
#about h2 {
    font-size: 5.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    grid-column:  1;
    grid-row: 2;
    border: solid 1px blue;
}

#about p {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 2;
    grid-row: 2;
    border: solid 1px blue;
    /* height: 20vh; */
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    padding: 0 2rem;
    height: 75vh;
}

#projects h2 {
    font-size: 5.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    grid-column: 3;
    grid-row: 1 span 2;
}

.projectscard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    height: 100%;
    /* need to come back and style the text links with appropiate size when they are finalized */
}

.projectscard a {
    text-decoration: none;
    color: #f0f0f0;
}

#skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    padding: 0 2rem;
    height: 75vh;
    border: solid 1px red;
}

#skills h2 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    grid-column: 1 / span 4;
    grid-row: 1;
    border: solid 1px blue;
    width: 100%;
}

.skillscard {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    height: 100%;
    border: solid 1px green;
    /* need to come back and style the text links with appropiate size when they are finalized */
}

#press {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 2rem;
    height: 75vh;
    border: solid 1px red;
}

#press h2 {
    font-size: 5.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    grid-column: 1;
    grid-row: 1;
    border: solid 1px blue;
}

#presscontainer{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: space-between;
    color: #f0f0f0;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    height: 100%;
    border: solid 1px aquamarine;
    /* need to come back and style the text links with appropiate size when they are finalized */
}

#press p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    align-self: center;
    /* need to come back and style the text links with appropiate size when they are finalized */
}

#contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0 2rem;
    height: 75vh;
    border: solid 1px red;
}

#contact h2 {
    font-size: 5.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    grid-column: 1;
    grid-row: 1;
    border: solid 1px blue;
}

#contactcontainer {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    color: #f0f0f0;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    height: 50%;
    border: solid 1px aquamarine;
    /* need to come back and style the text links with appropiate size when they are finalized */
}

#contact a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.5rem;
    font-weight: 400;
}

#contact h3 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    grid-column: 1;
    grid-row: 3;
    border: solid 1px blue;
}